$body-background-color: #fff8f0;
$body-heading-color: #2b2b2b;
$body-text-color: #333333;

$nav-background-color: #333333;
$nav-text-color: #ffffff;
$nav-child-link-color: #dddddd;

$link-color: #ff7a00;
$btn-primary-color: #ff7a00;